body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.list-actions {
  width: 80px;
}

.beer-list-empty {
  text-align: center;
}

.search-query {
	width: 40%;
	height: 40px;

	font-size: 1em;

	display: block;
	margin-right: 10px;

	border-radius: 4px;
}

a.danger { color: #d9534f; }
a.danger:hover { color: #c22521; }
a.faded { color: #CECECE; }

.beer-list .form-group {
  margin-bottom: 0px;
}

.beer-count {
  max-width: 100px;
}

.sort-toggle {
	cursor: pointer;
}

.sorted-marker {
	color: #999;
	font-size: .8em;
}
