<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">øλ</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form ng-show="beers" class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="search" class="form-control" ng-model="search" placeholder="Filter beers">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{active: beers}"><a href="#/">Beers</a></li>
        <li ng-class="{active: beer && !beer.beer_id}"><a href="#/new">Add beer</a></li>
        <li class="disabled"><a href="#">Log out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="error-message" ng-show="errorMessage">{{errorMessage}}</div>

<form name="beerForm" class="form-horizontal" role="form">
    <div class="form-group" ng-class="{'has-error': beerForm.brewery.$invalid && !beerForm.brewery.$pristine}">
        <label for="breweryInput" class="col-sm-2 control-label">Brewery</label>
        <div class="col-sm-10">
            <input id="breweryInput" class="form-control" type="text" name="brewery" ng-model="beer.brewery" required>
            <span class="help-block" ng-show="beerForm.brewery.$error.required && !beerForm.brewery.$pristine">Brewery name is required</span>
            <span class="help-block" ng-show="!beerForm.brewery.$error.required || beerForm.brewery.$pristine">Which brewery made this beer? <i>(required)</i></span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': beerForm.name.$invalid && !beerForm.name.$pristine}">
        <label for="nameInput" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input id="nameInput" class="form-control" type="text" name="name" ng-model="beer.name" required>
            <span class="help-block" ng-show="beerForm.name.$error.required && !beerForm.name.$pristine">Beer name is required</span>
            <span class="help-block" ng-show="!beerForm.name.$error.required || beerForm.name.$pristine">What is the name of this brew? <i>(required)</i></span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': beerForm.vintage.$invalid && !beerForm.vintage.$pristine}">
        <label for="yearInput" class="col-sm-2 control-label">Vintage</label>
        <div class="col-sm-10">
            <input id="yearInput" class="form-control" type="text" name="vintage" placeholder="{{currentYear}}" ng-model="beer.vintage" ng-pattern="/^\d{4}$/">
            <span class="help-block"></span>
            <span class="help-block" ng-show="beerForm.vintage.$error.pattern && !beerForm.vintage.$pristine">Must be four digit year or blank</span>
            <span class="help-block" ng-show="!beerForm.vintage.$error.pattern || beerForm.vintage.$pristine">Which year was this beer brewed?</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': beerForm.count.$invalid && !beerForm.count.$pristine}">
        <label for="countInput" class="col-sm-2 control-label">#</label>
        <div class="col-sm-10">
            <input id="countInput" class="form-control" type="text" name="count" placeholder="1" ng-model="beer.count" ng-pattern="/^\d*$/">
            <span class="help-block" ng-show="beerForm.count.$error.pattern && !beerForm.count.$pristine">Count must be a number</span>
            <span class="help-block" ng-show="!beerForm.count.$error.pattern || beerForm.count.$pristine">How many bottles do you have?</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <button ng-click="save()" ng-disabled="beerForm.$invalid" class="btn btn-primary">Save</button>
            <button ng-click="destroy()" ng-show="beer.beer_id" class="btn btn-danger">Delete</button>
            <a href="#/" class="btn">Cancel</a>
        </div>
    </div>
</form>

