<div class="error-message" ng-show="errorMessage">{{errorMessage}}</div>

<input type="text" ng-model="search" class="search-query" placeholder="Search">

<table class="beerlist">
    <thead>
        <tr>
            <th>Brewery</th>
            <th>Name</th>
            <th>Count</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="beer in beers | filter:search | orderBy:'name'">
            <td>{{beer.brewery}}</td>
            <td>{{beer.name}}</td>
            <td>{{beer.count}}</td>
            <td>
                <a ng-href="#/edit/{{beer.beer_id}}">Edit</a>
            </td>
        </tr>
    </tbody>
</table>

<a href="#/new">Add new</a>
