<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">øλ</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form ng-show="beers" class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="search" class="form-control" ng-model="search" placeholder="Filter beers">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{active: beers}"><a href="#/">Beers</a></li>
        <li ng-class="{active: beer && !beer.beer_id}"><a href="#/new">Add beer</a></li>
        <li class="disabled"><a href="#">Log out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="error-message" ng-show="errorMessage">{{errorMessage}}</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Brewery</th>
                <th>Name</th>
                <th>Vintage</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="beer in beers | filter:search | orderBy:'name'">
                <td>
                    <a ng-href="#/edit/{{beer.beer_id}}" data-placement="top" title="Edit" tooltip>
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 
                    </a>
                    <a ng-click="destroy(beer)" data-placement="top" title="Delete" tooltip>
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 
                    </a>
                    <span class="pull-right badge alert-info">{{beer.count}}</span>
                </td>
                <td>{{beer.brewery}}</td>
                <td>{{beer.name}}</td>
                <td>{{beer.vintage}}</td>
            </tr>
        </tbody>
    </table>
</div>