<div class="row">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <input type="search" class="form-control" ng-model="beerFilter" placeholder="Filter beers">
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form name="beerForm" ng-submit="add(beer)" class="form-horizontal" role="form">
            <div class="table-responsive">
                <table class="beer-list table table-hover">
                    <thead>
                        <tr>
                            <th class="sort-toggle" ng-click="sortBy('count')">
                                #
                                <span ng-show="beerList.ordering == '-count'" class="sorted-marker glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                <span ng-show="beerList.ordering == 'count'" class="sorted-marker glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                            </th>
                            
                            <th class="sort-toggle" ng-click="sortBy('brewery')">
                                Brewery
                                <span ng-show="beerList.ordering == '-brewery'" class="sorted-marker glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                <span ng-show="beerList.ordering == 'brewery'" class="sorted-marker glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                            </th>
                            
                            <th class="sort-toggle" ng-click="sortBy('name')">
                                Name
                                <span ng-show="beerList.ordering == 'name'" class="sorted-marker glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                <span ng-show="beerList.ordering == '-name'" class="sorted-marker glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                            </th>
                            
                            <th class="sort-toggle" ng-click="sortBy('vintage')">
                                Vintage
                                <span ng-show="beerList.ordering == '-vintage'" class="sorted-marker glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                <span ng-show="beerList.ordering == 'vintage'" class="sorted-marker glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                            </th>
                            
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr ng-repeat="beer in beers | filter:beerFilter | orderBy:beerList.ordering">
                            <td>
                                <span class="badge alert-info" ng-bind="beer.count" />
                            </td>
                            <td ng-bind="beer.brewery"/>
                            <td ng-bind="beer.name"/>
                            <td ng-bind="beer.vintage"/>
                            <td class="list-actions">
                                <a ng-href="#/edit/{{beer.beer_id}}" data-placement="top" title="Edit" tooltip>
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 
                                </a>
                                <a ng-click="destroy(beer)" class="danger" data-placement="top" title="Delete" tooltip>
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 
                                </a>
                            </td>
                        </tr>

                        <tr ng-show="!newBeerRow.visible">
                            <td colspan="5" style="text-align: center">
                                <button
                                    ng-click="showNewBeerRow()"
                                    value="+"
                                    class="btn btn-default btn-sm"
                                    data-placement="top" 
                                    title="New beer" tooltip>
                                
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
                                </button>
                            </td>
                        </tr>

                        <tr ng-show="newBeerRow.visible">
                            <td>
                                <div class="form-group beer-count" ng-class="{'has-error': beerForm.count.$invalid && !beerForm.count.$pristine}">
                                    <div class="col-sm-12 form-group-sm">
                                        <input 
                                            id="newBeerCount"
                                            class="form-control" 
                                            type="text" 
                                            name="count" 
                                            placeholder="{{defaults.count}}" 
                                            ng-model="beer.count" 
                                            ng-pattern="/^\d*$/">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" ng-class="{'has-error': beerForm.brewery.$invalid && !beerForm.brewery.$pristine}">
                                    <div class="col-sm-12 form-group-sm">
                                        <input 
                                            id="newBeerBrewery"
                                            class="form-control" 
                                            type="text" 
                                            name="brewery" 
                                            ng-model="beer.brewery" 
                                            placeholder="Brewery"
                                            required>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" ng-class="{'has-error': beerForm.name.$invalid && !beerForm.name.$pristine}">
                                    <div class="col-sm-12 form-group-sm">
                                        <input
                                            id="newBeerName"
                                            class="form-control" 
                                            type="text" 
                                            name="name" 
                                            ng-model="beer.name" 
                                            placeholder="Name"
                                            required>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" ng-class="{'has-error': beerForm.vintage.$invalid && !beerForm.vintage.$pristine}">
                                    <div class="col-sm-12 form-group-sm">
                                        <input 
                                            id="newBeerVintage"
                                            class="form-control" 
                                            type="text" 
                                            name="vintage" 
                                            placeholder="{{defaults.year}}" 
                                            ng-model="beer.vintage" 
                                            ng-pattern="/^\d{4}$/">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="col-sm-12 form-group-sm">
                                        <button
                                            type="submit"
                                            value="+" 
                                            class="btn btn-default btn-sm"
                                            ng-disabled="beerForm.$invalid" 
                                            data-placement="top" 
                                            title="Add" tooltip>
                                        
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div> <!-- ./table-responsive -->
        </form>
    </div> <!-- ./col-md-12 -->
</div> <!-- ./row -->