<section class="well">
    <h3>Manage Credentials</h3>

    <form name="pwdForm" class="form-horizontal" role="form">

        <div class="form-group" ng-class="{'has-error': pwdForm.current.$invalid && !pwdForm.current.$pristine}">
            <label for="current" class="col-sm-2 control-label">Current password</label>
            <div class="col-sm-8">
                <input id="current" class="form-control" type="password" name="current" ng-model="password.current" required>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': pwdForm.new.$invalid && !pwdForm.new.$pristine}">
            <label for="new" class="col-sm-2 control-label">New password</label>
            <div class="col-sm-8">
                <input id="new" class="form-control" type="password" name="new" ng-model="password.new" ng-minlength="8">
            </div>
            <div class="col-sm-2" ng-class="{'has-error': pwdForm.new.$invalid && !pwdForm.new.$pristine}">
                <span class="help-block" ng-show="pwdForm.new.$error.minlength && !pwdForm.new.$pristine">Too short, keep typing</span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': pwdForm.newRepeat.$invalid && !pwdForm.newRepeat.$pristine}">
            <label for="newRepeat" class="col-sm-2 control-label">New password (again)</label>
            <div class="col-sm-8">
                <input id="newRepeat" class="form-control" type="password" name="newRepeat" ng-model="password.newRepeat" field-must-equal="password.new">
            </div>
            <div class="col-sm-2" ng-class="{'has-error': pwdForm.newRepeat.$invalid && !pwdForm.newRepeat.$pristine}">
                <span class="help-block" ng-show="pwdForm.newRepeat.$error.fieldMustEqual && !pwdForm.newRepeat.$pristine">Not equal!</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <button ng-click="changePassword(password.current, password.new)" ng-disabled="!pwdForm.current.$viewValue || pwdForm.$invalid" class="btn btn-default">Change password</button>
            </div>
        </div>
    </form>
</section>

<section class="well">
    <h3>Export Cellar</h3>

    <p>Your cellar and your data are yours to use as you wish. Export as <a download="{{ exportName }}" ng-href="{{ exportUrl }}">JSON</a>, <a ng-href="">CSV</a> or <a ng-href="">XML</a>.
</section>
